@import "../../../global.scss";

.friends {
  margin-top: 80px;
  padding: 0 15px;
  
  &__title {
    font-size: 30px;
    display: block;
    padding-bottom: 25px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
  }
}
