@import "../../../global.scss";

.wrapper {
  position: relative;
}

.preloader {
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.pagination {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  width: max-content;
  border: 1px solid #c8c8c8;
  margin-bottom: 15px;
  margin-left: auto;

  li {
    cursor: pointer;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    transition: all .3s ease-in-out;

    &:not(:last-child) {
      border-right: 1px solid #c8c8c8;
    }
    
    &:hover {
      background-color: #f1f1f1;
    }

    &.selected {
      color: $color-green;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7.5px;
}

.col {
  padding: 0 7.5px 20px;
  width: 33.33%;
  position: relative;
  align-self: stretch;
}

.item {
  border: 1px solid #c8c8c8;
  padding: 20px;
  background-color: #fff;
  text-align: center;
  transition: all .3s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;


  &:hover {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    border-color: transparent;
  }

  &__img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px;
    background-color: #ccc;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  &__name {
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: #1F2D3D;
    padding-bottom: 25px;
  }
  
  &__status {
    display: block;
    font-size: 18px;
    color: #555555;
    padding-bottom: 20px;
  }

  &__country {
    display: block;
    color: #1F2D3D;
  }

  &__city {
    display: block;
    padding-bottom: 30px;
    font-size: 22px;
    color: #1F2D3D;
  }

  &__btn {
    margin: 0 auto;
    padding: 10px 30px;

    &_unfollow {
      background-color: #e85a3a;

      &:before {
        background-color: rgba(0,0,0, .15);
      }
    }
  }
}