@import "../global.scss";

.profile {
  grid-area: cont;
  background-color: #f9f9f9;

  &__img {
    height: 240px;

    img {
      width: 100%;
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}
